{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}


{% block content %}
<style>
  .gradient-custom {
    background: linear-gradient(90deg, #667eea 0%, #764ba2 100%);

  }
</style>
<section class="vh-100 ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form class="card" method="post">
          <div class="card-body p-5">
            <h3>Corporate Employee Register</h3>
            {% csrf_token %}
            {{form|crispy}}
            <div class="d-grid gap-2">
              <button type="submit" name="" id="" class="btn btn-primary">
                Create account
              </button>
            </div>

            <div class="my-3">
              <p class="mb-0">Don't have an account? <a href="{% url 'login' %}" class="text-dark  fw-bold">Login</a>
              </p>
            </div>

          </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock content %}