{% extends 'layout/base.html' %}


{% block title %}
FAQs
{% endblock %}


{% block content %}

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Certainly! Here's a list of frequently asked questions (FAQ) for the Corporate Skills Swap</p>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                        data-bs-target="#faq-list-1"> How does Corporate Skills Swap work? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Organizations can register on the platform and create profiles showcasing the skills they
                            have and the
                            skills they need. They can then search for potential partners with complementary skills and
                            initiate
                            skill exchanges through direct communication on the platform.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-2" class="collapsed">Is Corporate Skills Swap free to use? <i
                            class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Yes, Corporate Skills Swap is completely free for organizations to join and use. There are
                            no
                            subscription fees or charges for accessing the platform's features and participating in
                            skill
                            exchanges.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-3" class="collapsed">What types of skills can be exchanged on
                        Corporate Skills Swap?
                        <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            A wide range of skills can be exchanged on Corporate Skills Swap, including technical skills
                            (e.g.,
                            coding, graphic design), soft skills (e.g., communication, leadership), industry-specific
                            expertise
                            (e.g., marketing, finance), and more.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-4" class="collapsed">How do organizations ensure the quality of skill
                        exchanges? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Organizations can review each other's profiles and credentials before initiating skill
                            exchanges.
                            Additionally, Corporate Skills Swap provides tools and features for communication,
                            collaboration, and
                            feedback, allowing organizations to monitor and evaluate the quality of exchanges.
                        </p>
                    </div>
                </li>
                <li data-aos="fade-up" data-aos-delay="500">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                        data-bs-target="#faq-list-5" class="collapsed">How do organizations protect their intellectual
                        property during skill exchanges? <i class="bx bx-chevron-down icon-show"></i><i
                            class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Corporate Skills Swap encourages organizations to establish confidentiality agreements or
                            non-disclosure agreements (NDAs) when sharing sensitive information during skill exchanges.
                            Additionally, organizations can choose to share only the necessary information to protect
                            their
                            intellectual property.
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
{% endblock content %}