{% extends 'layout/base.html' %}

{% block content %}
<!-- FontAwesome 6.2.0 CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- (Optional) Use CSS or JS implementation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js"
    integrity="sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<section class="my-5">
    <div class="container">
        <div class="row">
            {% for user in people %}
            <div class="col-lg-6 mb-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text">{{ user.profile.email }}</p>
                        <p class="card-text">{{ user.profile.my_skills }}</p>
                    </div>
                    <div class="card-footer">
                        <!-- invite to chat-->
                        <a href="{% url 'invite_person' user.id %}" class="btn btn-primary">
                            <i class="fa fa-envelope"></i> Invite to chat
                        </a>
                        <!-- view profile-->
                        <a href="{% url 'person_view' user.id %}" class="btn btn-warning">
                            <i class="fa fa-eye"></i> View profile
                        </a>
                        <!-- if user is admin -->
                        {% if request.user.is_staff %}
                        <a href="{% url 'person_delete' user.id %}" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>




{% endblock content %}