{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        {% for people in peoples %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ people.image.url }}" class="card-img-top" alt="{{ people.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ people.name }}</h5>
                    <p class="card-text">{{ people.description }}</p>
                    <a href="{% url 'people_detail' people.id %}" class="btn btn-primary">Connect</a>
                </div>

            </div>

        </div>

        {% endfor %}
    </div>
</div>

{% endblock content %}