{% extends 'layout/base.html' %}
{% load static %}

{% block title %}
Terms & Conditions
{% endblock %}


{% block content %}


<section class="my-5">
    <ul class="my-2">
        <h1 class="p-2">Terms & Conditions:</h1>
        <li><b>Acceptance of Terms:</b> Users agree to abide by the Terms and Conditions upon accessing the Corporate
            Skill Swap
            Hub.</li>
        <li><b>Eligibility:</b> Participants must meet specified criteria for each skill swap program.</li>
        <li><b>Participation:</b> Involvement in skill swaps is voluntary and based on mutual agreement.</li>
        <li>
            <b>Conduct:</b> Participants must behave professionally and respectfully; harassment or discrimination is
            prohibited.
        </li>
        <li><b>Participation:</b> Involvement in skill swaps is voluntary and based on mutual agreement</li>
        <li><b>Confidentiality: </b>Participants must maintain the confidentiality of shared information.</li>
        <li><b>Intellectual Property:</b> Participants retain ownership of their intellectual property; the Hub may use
            testimonials for promotion.</li>
        <li><b>Liability:</b> The Hub is not liable for damages incurred during skill swap participation.</li>
        <li><b>Modification of Terms:</b> The Hub reserves the right to modify terms, effective immediately upon
        ting.</li>
        <li><b>Termination:</b> The Hub may terminate participation for violations or disruptive behavior.
        </li>
        <li><b>Governing Law:</b> These terms are governed by [Jurisdiction]; disputes are subject to exclusive
            jurisdiction of its
            courts.</li>

    </ul>
</section>

{% endblock content %}