<header id="header" class="fixed-top header-inner-pages">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="{% url 'home' %}">CorpSwap</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="static/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto " href="{% url 'home' %}">Home</a></li>
        <li><a class="nav-link scrollto " href="{% url 'about' %}">About</a></li>
        <li><a class="nav-link scrollto" href="{% url 'peoples_list'}">Ser</a></li>
        <li><a class="nav-link   scrollto" href="{% url 'admin:index' %}">Admin</a></li>

        <li><a class="nav-link scrollto" href="{% url 'contact' %}">Contact</a></li>

        {% if user.is_authenticated %}
        <li><a class="nav-link scrollto" href="{% url 'profile' %}">Profile</a></li>
        <li><a class="nav-link scrollto" href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
        <li><a class="nav-link scrollto" href="{% url 'register' %}">Register</a></li>

        {% endif %}

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->